# Modelos treinados, outputs e arquivos grandes
*.pt
*.pth
*.onnx
*.h5
*.ckpt
*.weights
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.csv
*.zip
*.tar.gz
*.tar
*.npz
*.npy
*.ods
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
