# Python/YOLO/General
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.env
.env.*
*.log
*.sqlite
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
*.pth
*.onnx
*.h5
*.ckpt
*.weights
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.csv
*.zip
*.tar.gz
*.tar
*.npz
*.npy
*.ipynb_checkpoints/
yolo11s.pt
exemplo1.mp4
exemplo2.mp4
